{% extends "base.html" %}

<!-- title -->
{% block title %}
    <title>Product</title>
{% endblock %}

<!-- content -->
{% block content %}
<div class="container">
    <div class="row">
        {% for product in all_Product %}
        <div class="col-4 mb-4">
            <div class="card product-card">
                {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top product-image" width="300" height="300" alt="{{ product.name }}">
                {% else %}
                <img src="https://via.placeholder.com/150" class="card-img-top product-image" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p>ราคา: {{ product.price }} บาท</p>
                    <p>จำนวน: {{ product.stock }} ชิ้น</p>
                    <a href="{% url 'Webapp:cart_add' id=product.id %}" class="btn btn-info" >เพิ่มลงตะกร้า</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
